:root{
    background-color: rgb(20 19 94);   
}
.main-container{
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-150px; /* this is half the height of your div*/  
    margin-left:-100px; /*this is half of width of your div*/
   
}
.searchBox{
    margin-right: 15px;
    padding: 10px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
}
.enter{
   padding-top: 10px;
}

.fa-solid{
    /* margin-top:16px; */
    color: #fff;
    font-size: 2.2em;
    
}
.itemList{  
    display: flex;
    flex-direction:i;
    color: #fff;
    font-size: 4vh;
}